{
  "project_info": {
    "project_number": "TU_PROJECT_NUMBER",
    "project_id": "TU_PROJECT_ID",
    "storage_bucket": "TU_STORAGE_BUCKET"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "TU_MOBILESDK_APP_ID",
        "android_client_info": {
          "package_name": "com.operonte.misionapp"
        }
      },
      "oauth_client": [
        {
          "client_id": "TU_CLIENT_ID",
          "client_type": 1,
          "android_info": {
            "package_name": "com.operonte.misionapp",
            "certificate_hash": "0b2423e4a2984626f5d3caae5b081ce769de3510"
          }
        },
        {
          "client_id": "TU_CLIENT_ID",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "TU_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "TU_CLIENT_ID",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
